body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.SudokuGrid {
  width:100%;
  padding:5%;
}

.row {
  width: 90vw;
}

.sudoku-cell {
  border: 1px solid black;

  width: 9vw;
  height: 9vw;
  float:left;
}

.cell-input {
  width: 100%;
  height: 100%;
  text-align: center;
  outline-width: 0;
  font-size:34px;
  background: transparent;
  border:none;
  caret-color: transparent;
  /* cursor:none; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
  box-sizing:border-box;
  font-family: "Helvetica";
  font-weight: bolder;
}

[data-isboldtop=true] {
  border-top: 4px solid black;
  fill:black;
}

[data-isboldbottom=true] {
  border-bottom: 4px solid black;
}

[data-isboldleft=true] {
  border-left: 4px solid black;
}

[data-isboldright=true] {
  border-right: 4px solid black;
}

[data-isprefilled=true] {
  background-color: #b8b8b8;
}

/* div input:focus {
  background-color: #ffe6a1;
} */

[data-error=true] {
  background-color: #eb7f7f !important;
}

[data-isselected=true] {
  background-color:bisque;
}

[data-isrelated=true] {
  background-color: lightskyblue;
}